<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<main id="root"></main>

<script type="text/javascript">
  window.images = {
  logo: "<%= asset_path('favicon.png') %>",
  one: "<%= asset_path('one.png') %>",
  two: "<%= asset_path('two.png') %>",
  three: "<%= asset_path('three.png') %>"
  }
</script>
