<script type='text/javascript'>
  <% if current_user %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>
</script>

<main id="root"></main>

<script type="text/javascript">
  window.images = {
  logo: "<%= asset_path('favicon.png') %>",
  one: "<%= asset_path('one.png') %>",
  two: "<%= asset_path('two.png') %>",
  three: "<%= asset_path('three.png') %>",
  four: "<%= asset_path('four.png') %>",
  mg: "<%= asset_path('magnifying-glass.png') %>"
  }
</script>
